html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.web-view {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.app,
.app-root {
    width: 100%;
    height: 100%;
    display: flex;
}

.teams-sidebar {
    width: 68px;
    background-color: #262928;
    text-align: center;
    position: relative;
}

.team-btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

.team-btn:hover {
    cursor: pointer;
}

.team-btn:active,
.team-btn:focus,
.add-team-btn:focus,
.add-team-btn:active {
    outline: none;
}

.team-btn:first-child {
    margin-top: 6px;
}

.team-btn.selected {
    border-color: #219eda;
    color: #219eda;
}

.chat-panel:not(.visible) {
    display: none;
}

.add-team-btn {
    position: absolute;
    left: 15px;
    bottom: 9px;
    background: none;
    border: none;
    color: #8E8E8E;
    font-size: 41px;
    font-weight: 500;
    border-radius: 4px;
}

.add-team-btn:hover {
    background-color: #373A39;
    cursor: pointer;
}
